[submodule "service-middleware"]
	path = service-middleware
	url = https://github.com/Storj/service-middleware
[submodule "mongodb-adapter"]
	path = mongodb-adapter
	url = https://github.com/Storj/mongodb-adapter
[submodule "billing"]
	path = billing
	url = https://github.com/Storj/billing
[submodule "bridge-gui"]
  branch = billing-5
	path = bridge-gui
	url = https://github.com/Storj/bridge-gui
[submodule "bridge"]
  branch = billing-5
	path = bridge
	url = https://github.com/Storj/bridge
[submodule "complex"]
	path = complex
	url = https://github.com/Storj/complex
[submodule "core"]
	branch = billing
	path = core
	url = https://github.com/Storj/core
[submodule "service-error-types"]
	path = service-error-types
	url = https://github.com/Storj/service-error-types
[submodule "service-storage-models"]
	branch = billing-models
	path = service-storage-models
	url = https://github.com/Storj/service-storage-models
