[submodule "core"]
	path = core
	url = https://github.com/Storj/core.git
[submodule "service-middleware"]
	path = service-middleware
	url = https://github.com/Storj/service-middleware.git
[submodule "service-storage-models"]
	path = service-storage-models
	url = https://github.com/Storj/service-storage-models.git
[submodule "bridge"]
	path = bridge
	url = https://github.com/Storj/bridge.git
[submodule "billing"]
	path = billing
	url = https://github.com/Storj/billing.git
[submodule "service-error-types"]
	path = service-error-types
	url = https://github.com/Storj/service-error-types.git
[submodule "bridge-gui"]
	path = bridge-gui
	url = https://github.com/Storj/bridge-gui.git
[submodule "complex"]
	path = complex
	url = git@github.com:Storj/complex.git
